* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  height: 100%;
}

div img {
  width: 100px;
}

.container {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.checked {
  color: orange;
}

.price {
  color: orange;
  margin-right: 5px;
  font-size: 1.5rem;
}

.card {
  width: 50%;
  height: 40%;
  padding: 1rem;
}

.col-3 {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}
